/*Css Navbar*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    overflow: scroll;
}
.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 216, 0);
    width: -40px;
}
.navp{
    width: 366px;
    height: 52px;
    margin-bottom: 0;
    margin-top: 5vh;
}
.navLi {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.navA {
    width: 40px;
    height: 38px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    cursor: pointer;
    margin-left: 2%;
    width: 40%;
    height: 40%;
    margin-bottom: 4vh;
}
.navUnlist {
    list-style: none;

}

.navUnlist li {
    display: inline-block;
    padding: 0px 15px;

}

.navUnlist li a {
    transition: all 0.3s ease;
}

.navUnlist li a :hover {
    transition: all 0.5s ease;
    border-radius: 18px;
}

/*Fim Navbar*/

.tabela {
    display: inline-block;
    padding: 30px 15px 20px 15px;
    margin-right: 0vw;
    margin-left: auto;
    color: gray;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
}

.tabela td,
.tabela th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela td:hover {
    background-color: #ddd;
    transition: all 0.3s ease;
    
}
.tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(7, 216, 0);
    color: white;
}



/* Painel sensor 1 */

.bg{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 2vh;
    margin-top: 3vh;
    margin-right: 2vh;
    background-color: rgb(7, 216, 0);
    min-width: 98%;
    height: 280px;
    border-radius: 30px;

}
.conteiner{
    top: 6.5vh;
    left: 15px;
    position: absolute;
    display: inline-block;
}
.conteiner2 {
    top: 6.5vh;
    left: 51.5vh;
    position: absolute;
    display: inline-block;
    padding-left: 1vh;
}
.conteiner3 {
    top: 6.5vh;
    left: 103vh;
    position: absolute;
    display: inline-block;
    padding-left: 1vh;
}
.conteiner4 {
    top: 6.5vh;
    left: 154.5vh;
    position: absolute;
    display: inline-block;
}
.widget{
    width: 350px;
    height: 150px;
    border-radius: 20px;
    background: rgba(299, 299, 299, 0.4);
    transition: all 0.3s ease;
}
.widget:hover{
    box-shadow: -1px 1px 30px -10px #000000;
    transition: all 0.3 ease;
}
.widget .left{
    top: 10px;
    position: absolute;
    left: 0;
    width: 200px;
}
.widget .right {
    top: 10px;
    position: relative;
    left: 150px;
    width: 200px;
}
.widget .bottom{
    bottom: 10px;
    margin-left: 63%;
    position: absolute;
}
.solo-icon {
    width: 50%;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}
.widget:hover .solo-icon{
    margin-top: -5px;
}
.titulot{
    margin-top: 4vh;
    text-align: center;
    font-size: 1.8em;
    cursor: default;
    color: rgb(49, 49, 49);
}
.widget .bottom div h5 {
    font-size: 2em;
    cursor: default;
    color: #fff;
}

/*Fim Painel Sensor 2*/

/*Painel Clima*/
.bg2{
    background-color: rgb(7, 216, 0);
    position: relative;
    margin-left: 13%;
    margin-right: 4vh;
    margin-top: 4vh;
    min-width: 50%;
    width: 75%;
    height: 115px;
    border-radius: 30px;
}
.conteinerClima{
    position: absolute;
    display: inline-block;
    background-color: rgba(299, 299, 299, 0.4);
    margin-left: 235px;
    margin-top: 10px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: default;
}
.conteinerUmi{
    background-color: rgba(299, 299, 299, 0.4);
    position: absolute;
    display: inline-block;
    margin-left: 785px;
    margin-top: 10px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: default;
}
.widgetClima{
    position: relative;
    width: 350px;
    height: 95px;
}
.leftClima{
    position: absolute;
    margin-left: 5%;
    margin-top: 6%;
}
.rightClima{
    position: absolute;
    left: 58%;
    margin-top: 4%;
}
.logoClima{
    margin-bottom: 3%;
    width: 30%;
    height: 30%;
}
 span{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 1.8em;
 }
.conteinerClima:hover {
    box-shadow: -1px 1px 30px -10px #000000;
    transition: all 0.3 ease;
}
.conteinerUmi:hover {
    box-shadow: -1px 1px 30px -10px #000000;
    transition: all 0.3 ease;
}
/*Gráficos*/

iframe{
    display: inline-block;
    width: 50%;
    height: 650px;
    padding-top: 40px;
    margin-left: 25%;
}

/* Responsividade */

@media (min-width:1360px) and (max-height: 768px) {
        .widget {
            width: 250px;
            height: 100px;
            border-radius: 20px;
            background: rgba(299, 299, 299, 0.4);
            transition: all 0.3s ease;
        }
        .conteiner {
            top: 6.5vh;
            left: 15px;
            position: absolute;
            display: inline-block;
        }
    
        .conteiner2 {
            top: 6.5vh;
            left: 51.5vh;
            position: absolute;
            display: inline-block;
            padding-left: 1vh;
        }
    
        .conteiner3 {
            top: 6.5vh;
            left: 103vh;
            position: absolute;
            display: inline-block;
            padding-left: 1vh;
        }
    
        .conteiner4 {
            top: 6.5vh;
            left: 154.5vh;
            position: absolute;
            display: inline-block;
        }
}